{% extends '../base.html' %}

{% block title %} Device List {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar: Tree Structure -->
        <div class="col-md-3">
            <h5>GVE Location Tree</h5>
            <div class="tree">
                <ul>
                    {% with uofm_data=tree.UofM %}
                        <li>
                            <a href="#" class="tree-link" data-type="uofm" data-value="{{ uofm_data.id }}">UofM</a>
                            <ul>
                                {% for campus_name, campus_data in uofm_data.campuses.items %}
                                    <li>
                                        <a href="#" class="tree-link" data-type="campus" data-value="{{ campus_name }}" data-id="{{ campus_data.id }}">{{ campus_name }}</a>
                                        <ul>
                                            {% for building_name, building_data in campus_data.buildings.items %}
                                                <li>
                                                    <a href="#" class="tree-link" data-type="building" data-value="{{ building_name }}" data-id="{{ building_data.id }}">{{ building_name }}</a>
                                                    <ul>
                                                        {% for room in building_data.rooms %}
                                                            <li>
                                                                <a href="#" class="tree-link" data-type="room" data-value="{{ room.room_id }}">{{ room.room_name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endwith %}
                </ul>
            </div>
        </div>
        <!-- Right Sidebar: Device List -->


<style>
    .tree ul {
        list-style-type: none;
        padding-left: 20px;
    }
    .tree li {
        margin: 5px 0;
    }
    .tree a {
        text-decoration: none;
        color: #007bff;
    }
    .tree a:hover {
        text-decoration: underline;
    }
    .status-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .status-on {
        background-color: green;
    }
    .status-off {
        background-color: red;
    }
    .status-unknown {
        background-color: grey;
    }
    #loading {
        margin-bottom: 10px;
        font-style: italic;
        color: #555;
    }
    </style>
{% endblock %}